extend includes/base/head
block head
		main.wrapper.wrapper_front
			.wrapper__content
				include includes/base/header_test.pug
				.wrapper__middle
					include includes/base/navigation.pug
					include includes/home/main-slider.pug
					include includes/home/courses.pug
			include includes/base/footer.pug