doctype html
html(lang="en")
	head
		title Imufasser
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
		link(rel="stylesheet" href="../css/bootstrap.min.css")
		link(rel="stylesheet" href="../css/datepicker.css")
		link(rel="stylesheet" href="../css/plyr.css")
		link(rel="stylesheet" href="../css/style.min.css")
	body
		block head